@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: overlay;
  color: #fff;
  background-color: #1b1b1b;
}

#root {
  height: 100vh;
  display: grid;
  grid-template: 48px 1fr 48px / 1fr;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.sticky {
  position: sticky;
  top: 0;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fffc48, #fffc48);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
